/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Black-ish grey */
  color: white;
  overflow-y: hidden;

}

/* Header styling */
header {
  padding: 20px;
}

.header-item {
  display: flex;
  align-items: center;
}

.signez {
  padding-left: 95vh;
}

/* Main content styling */
main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px); /* Account for header height */
}

/* Side navigation styling */
nav {
  background-color: #333333; /* Dark grey */
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-decoration: none;
}

.active {
  color: green;
}

/* Center content styling */
.center-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 70%;
  height: 70%;
  background-color: #333333; /* Dark grey */
  border-radius: 20px;
}

/* Footer styling */
footer {
  background-color: #000000; /* Dark grey */
  color: white;
  padding: 40px 0; /* Add padding to top and bottom */
}

footer h3 {
  color: white;
}

footer p {
  color: white;
}

/* Responsive layout for footer */
@media (max-width: 768px) {
  footer {
      padding: 20px 0; /* Reduce padding for smaller screens */
  }
}

.nav-menu {
  display: none;
}

/* Show navigation menu when nav-open class is added */
.nav-open .nav-menu {
  display: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10vh;
}

.sidenav a {
  padding: 10px 10px 50px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.9s;
  text-align: left;
}

.header .openav {
  padding-top: 0vh;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav a:active:hover {
  color: green;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}
