/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Black-ish grey */
  color: white;
}

/* General Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1e1d1d00; /* Adjust as needed */
  color: white;
}

/* SignEZ Button */
.signez {
  margin-right: auto;
  text-decoration: none;
  color: white;
  font-size: 40px; /* Adjust as needed */padding-left: 0.5vh;
  padding-top: 0.5vh;
}
.whatsapp{
  width: 6vh;
}
.signez:hover {
  color: #ccc; /* Adjust as needed */
}

/* Center Links */
.center-links {
  display: flex;
  gap: 20px;
  padding-right: 2vh;
}
#logs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.premium {
  display: block;
  width: 100%;
  height: auto;
  padding: 5vh;
}
.name-display {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 5vh;
}

.d-none {
  display: none;
}

#greeting {
  font-weight: bold;
  color: rgb(117, 155, 226);
}

.log-box {
  width: 300vh;
  max-width: 600px;
  height: 150px;
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  z-index: 5;
}

.log-box h2 {
  margin: 0;
}
/* Right Links */
.right-links {
  display: flex;
  gap: 20px;
  padding-left: 10vh;
  padding-right: 2vh;
  align-items: center;
}
.get-started {
  padding: 10px 20px;
  background-color: #000; /* Adjust as needed */
  border-radius: 25px;
  border: 1px solid #fff;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}
.logo{
  width: 8vh;
}
.paynow{
  padding: 10px 20px;
  background-color: #021988; /* Adjust as needed */
  border-radius: 25px;
  border: 1px solid #fff;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}
.get-started:hover {
  background-color: #555; /* Adjust as needed */
  color: #fff; /* Adjust as needed */
}
/* Individual Link Styles */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ccc; /* Adjust as needed */
}

/* Main content styling */
main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px); /* Account for header height */
}

/* Side navigation styling */
nav {
  background-color: #333333; /* Dark grey */
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-decoration: none;
}

.active {
  color: green;
}

/* Center content styling */
.center-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 90%;
  height: 90%;
  background-color: #333333; /* Dark grey */
  border-radius: 20px;
}

/* Footer styling */
footer {
  background-color: #000000; /* Dark grey */
  color: white;
  padding: 40px 0; /* Add padding to top and bottom */
}

footer h3 {
  color: white;
}

footer p {
  color: white;
}

/* Responsive layout for footer */
@media (max-width: 768px) {
  footer {
      padding: 20px 0; /* Reduce padding for smaller screens */
  }
}

.nav-menu {
  display: none;
}

/* Show navigation menu when nav-open class is added */
.nav-open .nav-menu {
  display: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10vh;
}

.sidenav a {
  padding: 10px 10px 50px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.9s;
  text-align: left;
}

.header .openav {
  padding-top: 0vh;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav a:active:hover {
  color: green;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}
