body,html{
    overflow: hidden;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Double the width to accommodate two images */
    height: 100%;
    display: flex; /* Use flexbox to align images side by side */
    z-index: 0;
    filter: blur(3px);
    background-color: black;
}

.background::before, .background::after {
    content: "";
    flex: 0 0 55%; /* Each image takes up half the width */
    background: url('bg1.jpg') no-repeat center;
    background-size: cover; /* Ensure the image covers the element without stretching */
    animation: moveBackground 30s linear infinite;
}

.background::after {
    margin-left: 0; /* Position the second image to start from the right */
}

@keyframes moveBackground {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media (max-width: 768px) {
    .background::before, .background::after {
        background-size: contain;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

input:focus, input:hover {
    background-color: #444;
    box-shadow: 0 0 10px #fff;
    outline: none;
}

button {

    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #555;
    box-shadow: 0 0 1px #fff;
}

.login-box {
    padding-top: 100vh;
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as needed */
    max-width: 300px; /* Optional: set a maximum width */
    height: 300px; /* Adjust height as needed */
    margin: 0 auto; /* Center the login box within the container */
}